@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Saldo</h1>
    <h4 id="dataBalance" name="dataBalance"></h4>
</div>

<div>
    <button></button>
    <button></button>
</div>