@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h2 class="display-4">Saldo</h2>
    <h1 id="dataBalance" name="dataBalance">Cargando..</h1>
</div>
<br />
<br />
<div class="row text-center">
    <div class="col-12 col-sm-6 col-md-6">
        <button class="btn btn-group-vertical btn-outline-secondary" type="button">Depositar</button>
    </div>
    <div class="col-12 col-sm-6 col-md-6">
        <button class="btn btn-group-vertical btn-outline-secondary" type="button">Retirar</button>
    </div>
</div>

<script>
    $.ajax({
        url: '@Url.Action("Balance", "Home")',
        type: "GET"
    }).done(function (response) {
        $("#dataBalance").text(response+" Bs");
    });
</script>